<div class="pokemon-card">
  <div class="pokemon-card__img">
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png"
      alt="Pokemon Image"
    />
  </div>
  <div class="pokemon-card__number">Nº 001</div>
  <div class="pokemon-card__name">Bulbassaur</div>
  <div class="pokemon-card__types">
    <div class="pokemon-card__type pokemon-card__type--type1 grass">Grass</div>
    <div class="pokemon-card__type pokemon-card__type--type2 poison">Poison</div>
  </div>
</div>
